    <p>Дата:{{ data.created }}</p>
    <p>Кому:{{ data.email }}</p>
    <p>Здравствуйте!<br>
        Вы получили настоящее письмо, так как Ваш товарищ {{ data.user }} <br>
        рекомендовал нам Вас, как человека, который обладает такими важным качеством, как
        отвественность, а также как творческую личность, которая руководствуется принципами
        доброты, радости и развития в своей жизни.
        Наш проект основан...

        Если Вам не интересно данное предложение, то пожалуста проигнорируейте настоящее письмо.
        В случае приявляения Вами интереса, как творческой личности, которая видит во всем добро, радость и развитие,
        просим Вас посетить наш сайт для ознакомления по этой ссылке <a href="/">dobrowest.ru</a>.
        И далее зарегистрироваться перейдя по этой ссылке, указав этот код приглашения:</p>
    <p>{{ data.code }}</p>
    <p>Данное приглашение дает Вам преимущественное право на использоваение....</p>

