{% extends 'main.html' %}
{% load staticfiles %}

{% block invite %}
    {% if username %}
        <form action="/invitations/send/" method="post">
            {% csrf_token %}
            {% include "fields.html" %}
            <input type="submit" class="button" value="Отправить">
        </form>
    {% else %}
        <p>Прежде, чем отправлять приглашения, необходимо
            <a href="/accounts/login/">войти под своим именем</a>
            или <a href="/accounts/signup/">зарегистрироваться</a> на проекте.</p>
    {% endif %}
{%  endblock %}
