{% load staticfiles %}
{% load pagination_tags %}
{% autopaginate ideas_list 2 %}
{% static 'img/no-photo-big.gif' as nopic %}
{% block ideas_block %}
    <div class="row">
        <div class="large-0 large-offset-0  columns">
            <div class="pagination">{% paginate %} </div>
        </div>
        <div class="large-10 large-offset-0  columns">
            {% for idea in ideas_list %}
                <p>Дата добавления: {{ idea.date_create|date:"d.m.Y в H:i" }}<br>
                    Дата обновления: {{ idea.date_update|date:"d.m.Y в H:i" }}<br>
                    Автор: {{ idea.get_author_name }}<br>
                    Тип: {{ idea.get_idea_type }}<br>
                    Категории: {{ idea.get_tags_list }}<br>
                    Фото: <br>
                    {% if idea.foto %}
                        {% load thumbnail %}
                        {% thumbnail idea.foto.path "2000x2000" as big %}
                            {% thumbnail idea.foto.path "350x200" padding_color="#aabbbd3" padding=True crop="top" as small %}
                                <a href="{{ big.url }}"><img style="margin:{{ small|margin:"200x200" }}"
                                                             src="{{ small.url }}"></a>
                            {% empty %}
                                {% thumbnail nopic.url "350x200" as np %}
                                    <a href="{% url 'ideas:edit' idea.id %}" class='golink'><img src="{{ np.url }}"></a>
                                {% endthumbnail %}
                            {% endthumbnail %}
                        {% endthumbnail %}
                    {% else %}
                        <a href="{% url 'ideas:edit' idea.id %}" class='golink'><img src="{{ nopic }}"></a>
                    {% endif %}
                    <br>
                    Текст: {{ idea.text|safe }}
                </p>
                {% if username %}
                    <a href="{% url 'ideas:vote' idea.id 1 %}"><img src="{% static "dobro_like.jpg" %}" width="30px"
                                                                    height="40px"></a>{{ idea.dobro_like }}
                    <a href="{% url 'ideas:vote' idea.id 2 %}"><img src="{% static "radost_like.jpg" %}" width="30px"
                                                                    height="40px"></a>{{ idea.radost_like }}
                    <a href="{% url 'ideas:vote' idea.id 3 %}"><img src="{% static "razvitie_like.jpg" %}" width="30px"
                                                                    height="40px"></a>{{ idea.razvitie_like }}

                    <a href="{% url 'ideas:edit' idea.id %}" class='button'>Редактировать</a>
                    <a href="{% url 'ideas:delete' idea.id %}" class='button'>Удалить</a>

                    {% if idea.published %}
                        <a href="{% url 'ideas:public' idea.id %}" class='button'>Снять с публикации</a>
                    {% else %}
                        <a href="{% url 'ideas:public' idea.id %}" class='button'>Опубликовать</a>
                    {% endif %}
                {% endif %}
                <hr>
            {% empty %}
                <p>Новых идей не обнаружено :(</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
